*{
    margin: 0;
    padding: 0;
}


.hero__section{
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px 40px;
}


.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.user__icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}




.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.hero__section_logo{
    width: 200px;
    height: auto;
}

.hero__section_title{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.input_conatiner_location, .input_conatiner_search{
    border: none;
    outline: none;
    padding: 5px;
}

.input_conatiner_location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
    /* border-radius: 15%; */
}

.input_conatiner_search {
    width: 65%;
}


@media only screen and (max-width: 600px) {
    .user__icon {
        display: flex;
    }

    .link {
        display: none;
    }

    .hero__section {
        min-height: 80vh;
    }

    .hero__section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 95%;
    }

        .input_conatiner_location,
        .input_conatiner_search {
            padding: 15px;
            border-radius: 10px;
            width: 90%;
        }
}


.container{
    margin: 3rem auto;
    width: 90%;
}

.we__offer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.we__offer_card{
    border-radius: 10px;
    /* background-color: red; */
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}
.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 280px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.we__offer_content{
    padding: 10px;
}

.we__offer_content h2{
    font-size: 20px;
    font-weight: 400;
}

.we__offer_content p{
    font-size: 12px;
}

.collections h1{
    font-weight: 600;
}

.sub__heading_container{
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}

.collections_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.card{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url("images/collection1.jpg");
}

.card2 {
    background-image: url("images/collection2.jpg");
}


.card3 {
    background-image: url("images/collection3.jpg");
}

.card4 {
    background-image: url("images/collection4.jpg");
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 32%, rgba(0, 0, 0, 0.3) 38%, rgba(0, 0, 0, 0.2) 38%, rgba(0, 0, 0, 0) 100%);
}

.content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}